@import url(../vendor/normalize.css);

body {
  background-color: #F7F7F7;
  max-width: 1440px;
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
}

.hover:hover {
  background-color: #74CFB7;
  cursor: pointer;
}

.header {
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  font-weight: 100;
}

.header__image {
  background-color: #74CFB7;
}

.header__bold {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
}

.header__button {
  width: 222px;
  height: 48px;
  background-color: #079FC2;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  line-height: 16px;
  color: white;
}

.header__text {
  position: relative;
  top: 10px;
}

.header__logo {
  position: relative;
  top: 10px;
  padding-right: 10px;
}

.nav__conteiner {
  max-width: 1180px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  text-transform: uppercase;
  border-bottom: 3px solid #74CFB7;
}

.nav__item {
  text-decoration: none;
  color: #404853;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;  
}

.nav__item:hover {
  color: #74CFB7;
  cursor: pointer;
}

.nav__item.nav__item_border {
  line-height: 12px; 
  border-left: 1px solid #E1E1E1;
  padding-left: 18px;
}

.nav__image {
  padding-left: 40px;
  cursor: pointer;
}

.nav {
  max-width: 1440px;
  background-color: #ffffff;
}

.banner {
  height: 419px;
  background-image: url('../images/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.banner__headline {
  margin-top: 70px;
  text-align: center;
  color: #ffffff;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
}

.banner__button {
  width: 70px;
  height: 64px;
  font-size: 11px;
  line-height: 12px;
  text-align: center;
  background-color: #74CFB7;
  border: none;
  border-radius: 4px;
  color: #ffffff;
}

.banner__button:hover {
  background-color: #079FC2;
  cursor: pointer;
}

.banner__button_phone {
  position: absolute;
  right: -1px;
  top: 7vh;
}

.banner__button_calendar {
  position: absolute;
  right: -1px;
  top: 15vh;
}

.banner__logo {
  margin-bottom: 5px;
}

.banner__div {
  max-width: 1150px;
  height: 160px;
  background-color: #ffffff;
  margin: 40px auto 0;
  border-radius: 10px;
  padding: 30px;
  width: 80%;
  position: relative;
}

#slider-range {
  width: 68%;
  height: 8px;
}

.banner__label {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.banner__input {
  margin-right: 15px;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.banner__slider {
  display: flex;
  max-width: 90%;
  margin-bottom: -20px;
}

.banner__radio {
  position: relative;
  top: -60px;
  right: -200px;
}

.banner__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.banner__ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.banner__button_li {
  width: 150px;
  height: 50px;
  border: none;
  background-color: #079FC2;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  border-radius: 5px;
}

.banner__li {
  padding: 6px 90px 6px 0.5em;
  padding-left: 15px;
  min-width: 110px;
  max-width: 200px;
  height: 48px;
  font-size: 13px;
  border-right: 1px solid #e7e7e7;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #f7f7f7;
}

.banner__option {
  width: 170px;
  height: 42px;
  border: none;
  background-color: #f7f7f7;
}

@media screen and (max-width: 1180px) {
  .banner__option {
      width: 150px;
  }
  }

@media screen and (max-width: 1024px) {
.banner__option {
    width: 130px;
}
}

.banner__button_hover {
  min-width: 110px;
  max-width: 180px;
  width: 180px;
  height: 36px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: none;
  position: absolute;
  top: 40px;
  left: 25%;
  background-color: #079FC2;
  color: white;
  border-radius: 5px;
  opacity: 0.5;
}

.banner__button_hover:hover {
  opacity: 1;
  cursor: pointer;
}

.banner__button_image {
  margin-right: 10px;
}

.map__conteiner {
  background-color: #fff;
  padding-bottom: 20px;
  padding-top: 20px;
}

.map {
  background-image: url('../images/Bitmap.jpg');
  max-width: 1420px;
  height: 515px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 1em 0;
  background-position: center;
  position: relative;
}

.map__mark {
  position: absolute;
  top: 14vh;
  left: 50%;
  cursor: pointer;
}

.map__hide {
  position: absolute;
  right: 0px;
  cursor: pointer;
}

.map__div {
  width: 500px;
  height: 373px;
  background-color: #ffffff;
  position: relative;
  top: 80px;
  left: 130px;
  display: none;
}

.map__div_active {
  display: flex;
}

.map__info {
  font-size: 13px;
  line-height: 15px;
}

.map__logo_close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.map__image {
  margin-right: 20px;
}

.map__h4 {
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
}

.map__logo_metro {
  margin-right: 3%;
}

.map__text_grey {
  color: #1F252D;
  opacity: 0.6;
  width: 50%;
} 

.map__text_grey-mod {
  width: 60%;
}

.map__text_grey_space {
padding-left: 3%; 
font-weight: 300;
font-size: 13px;
line-height: 15px;
}

.map__text_tr {
  border-bottom: 1px solid #e7e7e7;
  height: 32px;
}

.map__table {
  border-collapse: collapse;
}

.map__button {
  width: 256px;
  height: 36px;
  background-color: #079FC2;
  border: none;
  margin-top: 25px;
  color: #fff;
  border-radius: 5px;
}

.places__conteiner {
  display: flex;
  justify-content: space-between;
  max-width: 1180px;
  margin: 60px auto 0;
  background-color: #fff;
  max-height: 520px;
}

.places__info {
  margin: 35px 55px 40px;
  width: 50%;
  font-size: 14px;
  line-height: 16px;
}

.places__headline {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
}

.places__step-finish {
  vertical-align: bottom;
  height: 7vh;
}

.places__td {
  border-right: 1px solid #f7f7f7;
}

.places__second-column {
  padding-left: 7%;
}

.places__td_mod {
  height: 30px;
}

.places__buttons-conteiner {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.places__button {
  height: 36px;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  text-transform: uppercase;
  color: #079FC2;
  border: none;
  background-color: #f7f7f7;
  display: flex;
  width: 125px;
  justify-content: center;
}

.places__button:hover {
  color: #fff;
  cursor: pointer;
  background-color: #079FC2;
  stroke: #fff;
}

.places__button-image {
  padding-right: 5%;
}

.places__photo {
  position: relative;
}

.places__photo-button {
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  bottom: 20px;
  width: 222px;
  height: 48px;
  background-color: #079FC2;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
}

.places__actions {
  position: absolute;
  top: 0;
  right: 0;
  width: 220px;
  height: 60px;
  background-color: #F0F0F0;
  font-size: 13px;
  line-height: 15px;
  display: grid;
  grid-template-columns: 20px 180px;
  grid-template-rows: 20px 20px;
  column-gap: 15px;
  row-gap: 10px;
  padding-left: 10px;
  padding-top: 10px;
}

.places__image {
  width: 100%;
  height: 100%
}

.places__p {
  margin: 0;
}

.places__actions_mod {
  position: absolute;
  top: 0;
  right: 0;
  width: 220px;
  height: 30px;
  background-color: #F0F0F0;
  font-size: 13px;
  line-height: 15px;
  display: grid;
  grid-template-columns: 20px 180px;
  grid-template-rows: 20px;
  column-gap: 15px;
  row-gap: 10px;
  padding-left: 10px;
  padding-top: 20px;
}

.places__offer {
  margin: 50px 0;
  display: flex;
  justify-content: center;
}

.places__offer-button {
  width: 280px;
  height: 50px;
  background-color: #079FC2;
  color: #fff;
  border: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
}

.information {
  background-color: #fff;
  padding-top: 20px;
}

.information__conteiner {
  display: flex;
  margin-bottom: 50px;
}

.information__card {
  padding: 70px 100px 20px;
  border: 2px solid #f7f7f7;
  max-width: 980px;
  margin: 20px auto 0;
}

.information__h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 30px;
  margin-top: 0;
}

.information__paragraph {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 30px;
}

.information__logo {
  margin-right: 2%;
}

.information__text {
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  font-weight: 500;
}

.footer {
  background-color: #fff;
  padding: 80px 130px 0;
  max-width: 1180px;
  margin: 0 auto;
}

.footer__conteiner {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.footer__p {
  display: flex;
}

.footer__logo {
  margin-right: 10px;
}

#a {
  background-color: rgb(116, 207, 183);
}
